.aiprac-spin .semi-spin-children{
  opacity: 0.1;
}

.semi-spin-hidden>.semi-spin-children {
  opacity: 1!important;
}

.aiprac-table .semi-table-thead>.semi-table-row>.semi-table-row-head{
  text-align: center;
}