.pagebg {
  background-size: 400% 400%;
  animation: bg_gradient 12s ease infinite;
  animation-play-state: running;
  background-image: linear-gradient(120deg, #ffccf8, #ffc0ad 26.85%, #ffd78a 59.66%, #fefd82);
}

@keyframes bg_gradient {
  0% {
      background-position: 0% 50%
  }

  50% {
      background-position: 100% 50%
  }

  to {
      background-position: 0% 50%
  }
}